html(lang="en")
	head
		link(rel="stylesheet", href="css/style.min.css")
	body 
		include html/header
		main.page 
			h1 GENIUS
			img(src='@img/3.png')
		include html/footer	
		script(src='js/app.min.js') 