@font-face {
								font-family: RobotoSlab;
								font-display: swap;
								src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.ttf") format("ttf");
								font-weight: 700;
								font-style: normal;
							}
@font-face {
								font-family: RobotoSlab;
								font-display: swap;
								src: url("../fonts/RobotoSlab-Light.woff2") format("woff2"), url("../fonts/RobotoSlab-Light.ttf") format("ttf");
								font-weight: 300;
								font-style: normal;
							}
@font-face {
								font-family: RobotoSlab;
								font-display: swap;
								src: url("../fonts/RobotoSlab-Medium.woff2") format("woff2"), url("../fonts/RobotoSlab-Medium.ttf") format("ttf");
								font-weight: 500;
								font-style: normal;
							}
@font-face {
								font-family: RobotoSlab;
								font-display: swap;
								src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.ttf") format("ttf");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: RobotoSlab;
								font-display: swap;
								src: url("../fonts/RobotoSlab-Thin.woff2") format("woff2"), url("../fonts/RobotoSlab-Thin.ttf") format("ttf");
								font-weight: 100;
								font-style: normal;
							}
